[submodule "Fretta-Markdown-Parser"]
	path = Fretta-Markdown-Parser
	url = git@github.com:lukasbe/Fretta-Markdown-Parser.git
[submodule "Fretta-Web"]
	path = fretta-web
	url = git@github.com:lukasbe/Fretta-Web.git
