[submodule "Fretta-Web"]
	path = fretta-web
	url = git@github.com:lukasbe/Fretta-Web.git
[submodule "fretta-markdown-parser"]
	path = fretta-markdown-parser
	url = git@github.com:lukasbe/fretta-markdown-parser.git
